<!DOCTYPE html>
<html lang="en">

<!--Poner el head-->
<%- include("partial/head.ejs",{cssfile:"style"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
<body>
  <!--Poner eh header-->
  <%- include("partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <main>
    <!-- Empieza la seccion de los articulos-->
    
    <section> 
      <div class="slider"> <!--Fila 81 a la 109 es para el Slider-->
        <ul id="autoWidth" class="cs-hidden">
          <% sliderInfo.forEach(element => { %>
            <li class="<%= element.class %>"> 
              <div class="slider-img">
                <img  src="/img/<%= element.img %>">
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <div>
        <img class="img-section" src="/img/temporada.jpg"> <!--Esta queda asi-->
      </div>
     <!--Primer seccion-->
      <div class="tablet">
         <% pelotasAEnviar.forEach(producto => { %> 
          
        <article class="box-shadow" >
          <div class="img-2">
           <a href="/product/productDetail/<%= producto.id %>"> <img class="img-section" src="/img/<%= producto.image %>"></a>
          </div>
          <p class="precio">$<%= producto.price %> </p>
          <p class="descuento"><%= producto.discount %> % off</p>
          <p><%= producto.name %> </p>
        </article>
        
         <% }) %> 
      </div>
     
      <h3 class="title-section">Nuevas conquistas</h3>
      <div class="tablet">
        <div class="img-1">
          <img class="img-section" src="/img/Chicass.jpg">
        </div>
        <div>
          <img class="img-section" src="/img/chicos.jpg">
        </div>
      </div>
      <!--Primer seccion-->
      <h3 class="title-section">Vamos Argentina</h3>
      <div class="tablet">
        <% camisetaAEnviar.forEach(producto => { %> 
        <article class="box-shadow">
          <div class="img-2">
            <a href="/product/productDetail/<%= producto.id %>"> <img class="img-section" src="/img/<%= producto.image %>"></a>
          </div>
          <p class="precio">$<%= producto.price %></p>
          <p class="descuento"><%= producto.discount %>% off</p>
          <p><%= producto.name %></p>
        </article>
        <% }) %>    
      </div>

      <div>
        <img class="img-section" src="/img/Mujer.jpg">
      </div>
      <h3 class="title-section">Encontra todo para el Arco</h3>
      <div class="tablet">
        <div class="img-3">
          <img class="img-section" src="/img/Guantes-adidas.jpg">
        </div>
        <div>
          <img class="img-section" src="/img/Guantes.jpg">
        </div>
      </div>
      <div class="tablet">
        <% botinAEnviar.forEach(producto => { %>   
        <article class="box-shadow" >
            <div class="img-2">
              <a href="/product/productDetail/<%= producto.id %>"> <img class="img-section" src="/img/<%= producto.image %>"></a>
          </div>
        </a>
          
          <p class="precio">$<%= producto.price %></p>
          <p class="descuento"><%= producto.discount %>% off</p>
          <p><%= producto.name %></p>
        </article>
        <% }) %> 
      </div>

    </section>
  </main>
  <!--Empieza la parte de Footer-->
  <%- include("partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <script src="js/script.js" type="text/javascript"></script>

</body>

</html>