<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apolo</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/98eaad93ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-productDetail.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  </head>
<body>
  <%- include("../partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <main>
    <section>
      
        <div class="hola">
          <div class="titulos">
            <img class="logo-adidas" src="/img/logo-adidas.png">
            <div>
              <h1 class="titulo-articulo"><%= product.name %></h1>
            </div>
          </div>
        </div>
        <div class="section-main">
        <div class="conteiner-img">
        <div class="imagen-botin">
          <img class="img-botin-adidas" src="/img/<%= product.image %>">
        </div>

        <div class="box-box">
          <img class="img-botines-chicos" src="/img/<%= product.image %>">
          <img class="img-botines-chicos" src="/img/<%= product.image %>">
          <img class="img-botines-chicos" src="/img/<%= product.image %>">
        </div>
      </div>
     
      <div class="hola2">
        <h4 class="nombre-producto"><%= product.description %></h4>
        <div class="box-precio">
          <p class="precio">$ <%= product.price %></p>
        </div>
        <div class="box-tarjeta">
          <p class="tarjeta">Calcula las cuotas con tu medio de pago<i class="far fa-credit-card"></i> <p class="tarjeta"></p>
            </p>
        </div>
        <div class="detalle-producto">
          
          <!-- <ul class="navbar">
            <li>Color : Red/Cloud white</li>
            <li>Sistema de atado de cordones</li>
            <li>Exterior de cuero</li>
            <li>Cuello elastico</li>
            <li>Suela para terreno firme</li>
          </ul> -->
          <div>
            <h2 class="talle"></h2>
            <div class="talle2">
              <div class="box-box-lista">
                <label class="box-lista" class="talle2"><b>Talle</b></label>
                <select class="lista" name="talle" class="control">
                  <option value="...Niño">...Niño</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="Otros...">Otros...</option>
                </select>
              </div>
              <form class="botom">
                <button type="submit" title="Agregar al carrito" class="action primary tocart"
                  id="product-addtocart-button"><span>Agregar al carrito</span>
                </button>
              </form>
              <div class="edit-delete">
              <a href="/product/editProduct/<%= product.id %>" class="botton-form">EDITAR PRODUCTO</a>
						<form action="/product/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="botton-form">ELIMINAR</button>
						</form>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </main>
  <%- include("../partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
</body>

</html>